*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

input[type='number'] {
  appearance: none;
  margin: 0;
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  &::-moz-number-spin-box {
    -moz-appearance: textfield;
    margin: 0;
  }
}

input::-webkit-datetime-edit {
  line-height: 1;
  padding: 0;
  margin-bottom: -2px;
}

button {
  appearance: none;
  border: none;
  padding: 0;
}