@import './base.scss';

body {
  min-height: 100vh;
  background: linear-gradient(to right, rgba(171, 217, 241, 0.5), rgba(5, 104, 244, 0.5));
  background: -webkit-linear-gradient(to right, rgba(171, 217, 241, 0.5), rgba(5, 104, 244, 0.5));
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
